<!--div with mat-card form for login, button to signup new user-->
<section>
    <mat-grid-list cols="3">
        <mat-card style="text-align: center;">
            <mat-card-title >Login</mat-card-title>
            <form [formGroup]="loginForm" (submit)="loginUser()">
                <mat-form-field >
                    <mat-label >Username</mat-label>
                    <input formControlName ="name" matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" formControlName="password" matInput>
                </mat-form-field>
                <br>
                <button type="submit" mat-raised-button color="primary">Submit</button>
                <button type="button" mat-raised-button color="primary" style="margin-left: 5vw" routerLink="/auth/signup">Sign up</button>
            </form>
        </mat-card>
    </mat-grid-list>
</section>