#collectionContainer
{
    overflow: auto;
    height: auto;
}
table{
    width: 40vw;
    height: 10vw;
    table-layout: fixed;
    opacity: 0.95;
    
}
tr.beerRow:hover {
    background: whitesmoke;
}
td 
{
    cursor: pointer;
}

